.newProduct{
    flex: 4;
}

.addProductForm{
    margin-top: 10px;
}

.addProductItem{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addProductItem > label{
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addProductItem > input{    
    padding: 10px;
}

.details > label:first-child {
    color: gray;
    font-size: 18px; /* Make the "Details" label bigger */
    font-weight: bold; /* Emphasize the main label */
    padding-bottom: 10px;
}

.details label:not(:first-child) {
    display: block;
    padding-left: 90px; /* Indent sub-labels */
    margin-bottom: 8px;
}

.details input {
    margin-bottom: 8px;
    padding: 10px;
    margin-left: 90px; /* Indent inputs */
    width: 100%; /* Ensure consistent width */
    max-width: 300px; /* Optional: Adjust as needed */
}

.addProductItem > select{
    padding: 10px;
}

.addProductButton{
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
